.main-service{
    background-color: whitesmoke;
}

.subCatTitle-text{
    margin-right:20px ;
}

@media(max-width: 767px){

    .cheese-text{
        margin-left: 35px;
    }

    .wine-text{
        margin-left: 40px;
    }

    .cocktail-text{
        margin-left: 8px;
    }

    .coocking-text{
        margin-left: 35px;
    }

}
