.concierge-button{
    background-color: var(--color-blue);
    color: white !important;
    font-weight: bold;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.concierge-button:hover{
    background-color: var(--color-brown);
}

@media(max-width: 767px){
    .margin-custom{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

}
